Options +FollowSymLinks
RewriteEngine On
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^about?$ ./about.html
RewriteRule ^guide?$ ./guide.html
RewriteRule ^source?$ ./source.html
RewriteRule ^docker?$ ./docker.html
